h1 {
  text-align: center;
}

img {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* div#ds-coll-img {
  grid-column: 1 / 4;
}

div#ds-coll-txt {
  grid-column: 1 / 1;
}

div#ds-dataviz-txt {
  grid-column: 1 / 6;
}

div#ds-dataviz-img {
  grid-column: 3 / 5;
}

div#ds-video-txt {
  grid-column: 1 / 4
} */
